<div class="min-h-max max-h-max absolute overflow-auto h-[calc(100vh-64px)] sm:h-[calc(100vh-80px)]" *transloco="let t">
    <mat-icon svgIcon="feather:chevron-left" class="ml-3 cursor-pointer absolute z-50 mt-3"
        [routerLink]="'/home'"></mat-icon>
    <figure>
        <img src="assets/images/bg.png" alt="">
    </figure>

    <div class="absolute top-1/2 flex w-8/12 justify-between" style="left: 10%;">
        <div class="w-1/5 hidden md:block">
            <figure class="w-60 -mt-40 relative">
                <ng-container *ngIf="currentLevel===1">
                    <img *ngIf="!productArr1.length" src="assets/images/question.png" alt="">
                    <img *ngIf="productArr1.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr1; let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr1.length>0">、</span>
                            <span>{{lang==='zh'?item.name_zh:item.name_en}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===2">
                    <img *ngIf="!productArr2.length " src="assets/images/question.png" alt="">
                    <img *ngIf="productArr2.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr2;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr2.length>0">、</span>
                            <span>{{lang==='zh'?item.name_zh:item.name_en}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===3">
                    <img *ngIf="!productArr3.length " src="assets/images/question.png" alt="">
                    <img *ngIf="productArr3.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr3;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr3.length>0">、</span>
                            <span>{{lang==='zh'?item.name_zh:item.name_en}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===4">
                    <img *ngIf="!productArr4.length " src="assets/images/question.png" alt="">
                    <img *ngIf="productArr4.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr4;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr4.length>0">、</span>
                            <span>{{lang==='zh'?item.name_zh:item.name_en}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===5">
                    <img *ngIf="!productArr5.length " src="assets/images/question.png" alt="">
                    <img *ngIf="productArr5.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr5;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr5.length>0">、</span>
                            <span>{{lang==='zh'?item.name_zh:item.name_en}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===6">
                    <img *ngIf="!productArr6.length " src="assets/images/question.png" alt="">
                    <img *ngIf="productArr6.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr6;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr6.length>0">、</span>
                            <span>{{lang==='zh'?item.name_zh:item.name_en}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===7">
                    <img *ngIf="!productArr7.length " src="assets/images/question.png" alt="">
                    <img *ngIf="productArr7.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr7;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr7.length>0">、</span>
                            <span>{{lang==='zh'?item.box_zh:item.box_en}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===8">
                    <img *ngIf="!productArr8.length " src="assets/images/question.png" alt="">
                    <img *ngIf="productArr8.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr8;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr8.length>0">、</span>
                            <span>{{lang==='zh'?item.name_zh:item.name_en}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===9">
                    <img *ngIf="!productArr9.length " src="assets/images/question.png" alt="">
                    <img *ngIf="productArr9.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of productArr9;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&productArr9.length>0">、</span>
                            <span>{{lang==='zh'?item.name_zh:item.name_en}}</span>
                        </div>
                    </div>
                </ng-container>
            </figure>
        </div>
        <div class="w-full -mt-30 text-center md:w-3/5">
            <h2 class="text-3xl font-bold mb-3">{{ t(getQuestionText()) }}</h2>
            <div class="h-80 overflow-auto ">
                <div class="flex flex-wrap justify-center">
                    <div *ngFor="let item of nowLevel; let i=index;" class="mb-2">
                        <button class="flex items-center  font-bold py-2 px-4 rounded-full border-2 shadow-md mx-1 z-20"
                            [ngClass]="{'bg-slate-700': item.active,'text-white': item.active, 'bg-white':!item.active}"
                            (click)="selectProduct(item,i)">
                            <img class="w-4 h-4" [src]="item.active?'assets/icons/tick.png':'assets/icons/add.png'"
                                alt="">
                            &nbsp;&nbsp;&nbsp;
                            <ng-container *ngIf="nowLevel!==level7;else packageText">
                                <p>{{lang==='zh'?item.name_zh:item.name_en}}</p>
                            </ng-container>
                            <ng-template #packageText>
                                <p>{{lang==='zh'?item.box_zh:item.box_en}}</p>
                            </ng-template>
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex justify-center mt-4">
                <div *ngIf="currentLevel>1"
                    class="text-xl text-white bg-stone-900 mr-4 flex-none rounded-md px-4 py-[0.3125rem] z-20 shadow-sm cursor-pointer"
                    (click)="prevStep()">{{t('button_prev_step')}}</div>
                <div class="text-xl text-white bg-stone-900 flex-none rounded-md px-4 py-[0.3125rem] z-20 shadow-sm cursor-pointer"
                    *ngIf="currentLevel<9" (click)="nextStep()">{{t('button_next_step')}}</div>

                <div class="text-xl text-white bg-stone-900 flex-none rounded-md px-4 py-[0.3125rem] z-20 shadow-sm cursor-pointer"
                    *ngIf="currentLevel===9" (click)="handleFinish()">{{t('questionnaire_question_finish')}}</div>
            </div>

        </div>
    </div>

    <div class="fixed top-60 right-0 z-40 cursor-pointer" [ngClass]="{'hidden':!closeTag}" (click)="closeTag=false">
        <figure class="w-12 h-12 ">
            <img src="assets/icons/hourglass.png">
        </figure>
    </div>

    <div class="absolute min-h-max top-0 h-full bg-black/50"
        [ngClass]="{'dilute':closeTag,'z-30':!closeTag,'w-full':!closeTag}">
        <div [ngClass]="{'noSwipe':closeTag}">
            <div class="absolute  top-60 right-60  cursor-pointer" (click)="closeTag=true">
                <figure class="w-12 h-12">
                    <img src="assets/icons/cancel.png">
                </figure>
            </div>
            <div class="absolute w-60 top-0 bottom-0 right-0 bg-white overflow-auto pt-5 z-30">
                <ng-container *ngFor="let list of rightList;let i=index">
                    <div class="relative mx-6 text-center border-b border-dashed p-2" (click)="handleRightPanel(i)">
                        <div class="flex items-center  cursor-pointer">
                            <div class="flex flex-col justify-center ml-4 w-full h-full p-3"
                                [ngClass]="{'text-orange-500':i===currentLevel-1}">
                                <div class="text-lg">
                                    {{t(list)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>