<div class="min-h-max max-h-max" *transloco="let t">
    <figure>
        <img src="assets/images/bg.png" alt="">
    </figure>

    <div class="absolute top-1/2 flex w-8/12 justify-between" style="left: 10%;">
        <div class="w-1/5">
            <figure class="w-60 -mt-40 relative">
                <ng-container *ngIf="currentLevel===1">
                    <img *ngIf="!puoductArr1.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr1.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr1; let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr1.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===2">
                    <img *ngIf="!puoductArr2.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr2.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr2;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr2.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===3">
                    <img *ngIf="!puoductArr3.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr3.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr3;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr3.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===4">
                    <img *ngIf="!puoductArr4.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr4.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr4;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr4.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===5">
                    <img *ngIf="!puoductArr5.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr5.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr5;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr5.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===6">
                    <img *ngIf="!puoductArr6.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr6.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr6;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr6.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===7">
                    <img *ngIf="!puoductArr7.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr7.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr7;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr7.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===8">
                    <img *ngIf="!puoductArr8.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr8.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr8;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr8.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="currentLevel===9">
                    <img *ngIf="!puoductArr9.length " src="assets/images/question.png" alt="">
                    <img *ngIf="puoductArr9.length" src="assets/images/empty.png" alt="">
                    <div class="absolute bottom-32 flex flex-wrap overflow-hidden w-full h-28 left-4 text-2xl font-bold"
                        style="transform: rotate(-90deg);">
                        <div *ngFor="let item of puoductArr9;let i=index" class="even:text-red-600">
                            <span *ngIf="i!==0&&puoductArr9.length>0">、</span>
                            <span>{{item.name_zh}}</span>
                        </div>
                    </div>
                </ng-container>
            </figure>
        </div>
        <div class="w-3/5 -mt-30 text-center">
            <h2 class="text-3xl font-bold mb-3">{{ t(getQuestionText()) }}</h2>
            <div class="h-80 overflow-auto ">
                <div class="flex flex-wrap justify-center">
                    <div *ngFor="let item of nowLevel; let i=index;" class="h-11">
                        <button class="flex items-center  font-bold py-2 px-4 rounded-full border-2 shadow-md mx-1"
                            [ngClass]="{'bg-slate-700': item.active,'text-white': item.active, 'bg-white':!item.active}"
                            (click)="selectProduct(item,i)">
                            <img class="w-4 h-4" [src]="item.active?'assets/icons/tick.png':'assets/icons/add.png'"
                                alt="">
                            &nbsp;&nbsp;&nbsp;
                            <p>{{item.name_zh}}</p>
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex justify-center mt-4">
                <div *ngIf="currentLevel>1"
                    class="text-xl text-white bg-stone-900 ml-4 flex-none rounded-md px-4 py-[0.3125rem] shadow-sm cursor-pointer"
                    (click)="prevStep()">{{t('button_prev_step')}}</div>
                <div class="text-xl text-white bg-stone-900  ml-4 flex-none rounded-md px-4 py-[0.3125rem] shadow-sm cursor-pointer"
                    *ngIf="currentLevel<9" (click)="nextStep()">{{t('button_next_step')}}</div>

                <div class="text-xl text-white bg-stone-900  ml-4 flex-none rounded-md px-4 py-[0.3125rem] shadow-sm cursor-pointer"
                    *ngIf="currentLevel===9" (click)="handleFinish()">{{t('questionnaire_question_finish')}}</div>
            </div>

        </div>
    </div>
</div>
