$transition_time: 0.2s;

.transition {
    transition: all $transition_time ease-in-out;
}

.noSwipe {
    transform: translateX(196px);
    transition: 0.5s;
}

.swipeLeft {
    transform: translateX(-196px);
    opacity: 1;
    transition: 0.5s;
}

.dilute {
    opacity: 0;
    transition: 1s;
}

.image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: calc(100vh - 144px);
    margin-top: 64px;

    .slider-container {
        display: flex;
        transition: transform 0.3s ease;
        height: 100%;

        .slide {
            flex-shrink: 0;
            width: 100vw;
            display: flex;
            align-items: center;

            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        width: 40px;

    }

    .right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 95vw;
        width: 40px;
    }
}