<div class="min-h-max max-h-max">
    <div class="fixed bg-white w-full h-16 flex justify-end items-center pr-24 z-20">
        <button class=" rounded-lg text-sm font-semibold py-3 px-4 bg-white text-slate-900 ring-1 ring-slate-900/10"
            (click)="handleBtn('vr')">
            <span>VR
                Tour</span>
        </button>

        <button
            class="ml-4 rounded-lg text-sm font-semibold py-3 px-4 bg-white text-slate-900 ring-1 ring-slate-900/10 "
            (click)="handleBtn('ai')">
            <span>AI-Stage</span>
        </button>

    </div>

    <div class="image-slider">
        <div class="slider-container" [style.transform]="'translateX(' + slidePosition + 'px)'">
            <figure *ngFor="let imageUrl of picArray;let i=index;" class="slide">
                <img [src]="imageUrl" alt="Image">
            </figure>
        </div>
        <div *ngIf="slidePosition!==0" class="left" (click)="moveLeft()">
            <img src="assets/icons/left.png" alt="">
        </div>
        <div [hidden]="slidePosition===-((picArray.length-1)*slideWidth)" class="right" (click)="moveRight()">
            <img src="assets/icons/right.png" alt="">
        </div>
    </div>
    <div class="fixed top-28 right-0 z-10" [ngClass]="{'hidden':!closeMenu}" (click)="closeMenu=false">
        <figure class="w-12 h-12 ">
            <img src="assets/icons/menu.png">
        </figure>
    </div>

    <div class="min-h-max h-full bg-gray-500 z-20" [ngClass]="{'dilute':closeMenu}" style="width: 100vw;">
        <div [ngClass]="{'noSwipe':closeMenu}">
            <div class="absolute top-28 right-48" (click)="closeMenu=true">
                <figure class="w-12 h-12">
                    <img src="assets/icons/cancel.png">
                </figure>
            </div>
            <div class="w-48 top-16 bottom-0 bg-black absolute right-0 overflow-auto pt-5  z-30">
                <div *ngFor="let pic of picArray;let i = index">
                    <figure
                        class="w-36 h-24 mx-auto overflow-hidden my-2 flex items-center justify-center cursor-pointer"
                        [ngClass]="{'border-orange-700':currentIndex===i,' border-4':currentIndex===i}"
                        (click)=" handleRightPanel(i)">
                        <img class="object-cover" [src]="pic">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="vr">
    <iframe class="fixed w-full z-20" style="height: calc(100% - 80px);" [src]="vrUrl" frameborder="0"
        (load)="hideLoader()"></iframe>
</ng-container>
<ng-container *ngIf="ai">
    <iframe class="fixed w-full z-20" style="height: calc(100% - 80px);" [src]="aiUrl" frameborder="0"
        (load)="hideLoader()"></iframe>
</ng-container>