<div class="min-h-max max-h-max">
    <div class="fixed bg-white w-full h-16 flex justify-between items-center pr-24 z-20">
        <mat-icon svgIcon="feather:chevron-left" class="ml-3 cursor-pointer" [routerLink]="'/home'"></mat-icon>
        <div>
            <button class=" rounded-lg text-sm font-semibold py-3 px-4 bg-white text-slate-900 ring-1 ring-slate-900/10"
                (click)="handleBtn('vr')">
                <span>VR
                    Tour</span>
            </button>

            <button
                class="ml-4 rounded-lg text-sm font-semibold py-3 px-4 bg-white text-slate-900 ring-1 ring-slate-900/10 "
                (click)="handleBtn('ai')">
                <span>AI-Stage</span>
            </button>
        </div>

    </div>

    <div class="image-slider">
        <div class="slider-container" [style.transform]="'translateX(' + slidePosition + 'px)'">
            <figure *ngFor="let imageUrl of picArray;let i=index;" class="slide">
                <img [src]="imageUrl" alt="Image">
            </figure>
        </div>
        <div *ngIf="slidePosition!==0" class="left  cursor-pointer" (click)="moveLeft()">
            <img src="assets/icons/left.png" alt="">
        </div>
        <div [hidden]="slidePosition===-((picArray.length-1)*slideWidth)" class="right  cursor-pointer"
            (click)="moveRight()">
            <img src="assets/icons/right.png" alt="">
        </div>
    </div>

    <div class="fixed top-28 right-0 z-10  cursor-pointer" [ngClass]="{'hidden':!closeMenu}" (click)="closeMenu=false">
        <figure class="w-12 h-12 ">
            <img src="assets/icons/menu.png">
        </figure>
    </div>

    <div class="min-h-max h-full bg-black/50 z-20 " [ngClass]="{'dilute':closeMenu}" style="width: 100vw;">
        <div [ngClass]="{'noSwipe':closeMenu}">
            <div class="absolute top-28 right-48  cursor-pointer" (click)="closeMenu=true">
                <figure class="w-12 h-12">
                    <img src="assets/icons/cancel.png">
                </figure>
            </div>
            <div class="w-48 top-16 bottom-0 bg-black absolute right-0 overflow-auto pt-5  z-30">
                <div *ngFor="let pic of picArray;let i = index">
                    <figure
                        class="w-36 h-24 mx-auto overflow-hidden my-2 flex items-center justify-center cursor-pointer"
                        [ngClass]="{'border-orange-700':currentIndex===i,' border-4':currentIndex===i}"
                        (click)=" handleRightPanel(i)">
                        <img class="object-cover" [src]="pic">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="vr">
    <div class="fixed bg-white w-full h-16 flex justify-between items-center pr-7 z-50">
        <mat-icon svgIcon="feather:chevron-left" class="ml-3 cursor-pointer" (click)="vr=false"></mat-icon>
        <div class="w-full text-center">
            <span class="w-full text-center text-lg sm:text-2xl font-semibold bg-white text-slate-900 select-none">VR
                Tour</span>
        </div>
    </div>
    <iframe class="fixed w-full z-20 pt-[64px]" style="height: calc(100% - 80px);" [src]="vrUrl" frameborder="0"
        (load)="hideLoader()"></iframe>
</ng-container>
<ng-container *ngIf="ai">
    <div class="fixed bg-white w-full h-16 flex justify-between items-center pr-7 z-50">
        <mat-icon svgIcon="feather:chevron-left" class="ml-3 cursor-pointer" (click)="ai=false"></mat-icon>
        <div class="w-full text-center">
            <span class="w-full text-center text-lg sm:text-2xl font-semibold bg-white text-slate-900 select-none">AI-Stage</span>
        </div>
    </div>
    <iframe class="fixed w-full z-20 pt-[64px]" style="height: calc(100% - 80px);" [src]="aiUrl" frameborder="0"
        (load)="hideLoader()"></iframe>
</ng-container>