#customer-form {
    @media screen and (max-width: 450px) {
        .w-\[calc\(100\%-10rem\)\] {
            width: calc(100% - 5rem) !important;
            font-size: 14px;
        }

        .w-40 {
            width: 5rem !important;
            font-size: 14px;
        }
    }

    .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
        margin-bottom: 0px;
    }

    .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
        border-width: 0px;
        margin-left: 0px;
        border-radius: 0px;
        min-width: 56px;
        --tw-shadow: 0px !important;
        padding: 3px;
    }

    .mat-form-field.mat-form-field-appearance-fill.mat-focused:not(.mat-form-field-invalid) .mat-form-field-wrapper .mat-form-field-flex {
        border-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
    }

    body.light .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
    body .light .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: #64748b;
    }

    /* styles.css 或者组件的样式文件 */
    .mat-checkbox-frame {
        border-color: #f43f5e !important;
        /* 设置框框为红色 */
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: #64748b !important;
    }
}