<!-- !!!Attention please: This component is integrate in shared.module.ts, please imports into your own module. -->
<div id="customer-form">
    <ng-container *transloco="let t">
        <div class="fixed inset-0 z-50 bg-black/40 flex flex-col items-center visible opacity-100">
            <div class="relative z-50 light h-screen">
                <div class="fixed bg-white w-screen h-16 flex justify-between items-center z-20">
                    <!-- put emit event!!!!! -->
                    <mat-icon svgIcon="feather:chevron-left" class="ml-3 cursor-pointer"
                        (click)="handleCancel()"></mat-icon>
                    <div class="w-full text-center text-lg sm:text-2xl font-semibold 
                        bg-white text-slate-900 mr-6 overflow-hidden text-ellipsis whitespace-nowrap">

                        <ng-container *ngIf="!addClientCheck">
                            {{(customerForm.get('name').value ===
                            '')?t('customer_form_edit'):customerForm.get('name').value}}
                        </ng-container>
                        <ng-container *ngIf="addClientCheck">
                            {{t('customer_form_add')}}
                        </ng-container>

                    </div>
                </div>
                <div class="flex flex-col w-screen overflow-auto mt-16 max-h-[calc(100vh-64px)]">
                    <div class="w-full p-8">
                        <div *ngIf="addClientCheck" class="flex flex-col items-center min-w-[216px]">
                            <div
                                class="w-32 h-32 bg-white rounded-full flex flex-col flex-nowrap items-center justify-center mb-4">
                                <ng-container *ngIf="!selectedFile">
                                    <mat-icon svgIcon="mat_solid:add_a_photo"></mat-icon>
                                    <div class="text-center">{{t('customer_form_upload_avatar')}}</div>
                                </ng-container>
                                <ng-container *ngIf="selectedFile">
                                    <img [src]="selectedFile" class="w-32 h-32 rounded-full object-cover" alt="" />
                                </ng-container>
                                <input type="file" class="absolute opacity-0 w-32 h-32 rounded-full"
                                    accept="image/png, image/jpeg" required (change)="onFileSelected($event)">
                            </div>
                        </div>
                        <div class="w-full p-8 bg-white text-xl min-w-[216px]" [formGroup]="customerForm">
                            <!-- 類型 -->
                            <div class="flex w-full border-2">
                                <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                    {{t('customer_form_type')}}</div>
                                <div class="w-[calc(100%-10rem)] flex flex-row items-center">
                                    <mat-form-field class="w-full max-w-[140px] sm:ml-9">
                                        <mat-select class="text-base font-semibold bg-white text-slate-900"
                                            formControlName="type">
                                            <mat-option [value]="'CL001'">客戶類型1</mat-option>
                                            <mat-option [value]="'CL002'">客戶類型2</mat-option>
                                            <mat-option [value]="'CL003'">客戶類型3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex w-full border-2 mt-3">
                                <div class="flex flex-wrap w-full">
                                    <!-- 中文公司名稱 -->
                                    <div class="flex w-full md:w-1/2 border-b-2 md:border-b-0">
                                        <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                            {{t('customer_form_company_name_zh')}}
                                        </div>
                                        <div class="w-[calc(100%-10rem)] flex items-center">
                                            <input #company_name_zh class="w-full h-full pl-4" type="text"
                                                formControlName="company_name_zh"
                                                (focus)="showDeleteButton(company_name_zh,$event)"
                                                (blur)="hideDeleteButton(company_name_zh,$event)">
                                            <mat-icon *ngIf="company_name_zh.hasAttribute('company_name_zh')"
                                                svgIcon="heroicons_solid:x-circle"
                                                class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                                (mousedown)="clearInputText(company_name_zh,$event)"></mat-icon>
                                        </div>
                                    </div>
                                    <!-- 英文公司名稱 -->
                                    <div class="flex w-full md:w-1/2">
                                        <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                            {{t('customer_form_company_name_en')}}
                                        </div>
                                        <div class="w-[calc(100%-10rem)] flex items-center">
                                            <input #company_name_en class="w-full h-full pl-4" type="text"
                                                formControlName="company_name_en"
                                                (focus)="showDeleteButton(company_name_en,$event)"
                                                (blur)="hideDeleteButton(company_name_en,$event)">
                                            <mat-icon *ngIf="company_name_en.hasAttribute('company_name_en')"
                                                svgIcon="heroicons_solid:x-circle"
                                                class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                                (mousedown)="clearInputText(company_name_en,$event)"></mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col border-2 mt-3">
                                <div class="flex flex-wrap border-b-2">
                                    <!-- 姓名 -->
                                    <div class="flex w-full md:w-1/2 border-b-2 md:border-b-0">
                                        <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                            {{t('customer_form_name')}}
                                        </div>
                                        <div class="w-[calc(100%-10rem)] flex items-center">
                                            <input #name class="w-full h-full pl-4" type="text" formControlName="name"
                                                (focus)="showDeleteButton(name,$event)"
                                                (blur)="hideDeleteButton(name,$event)">
                                            <mat-icon *ngIf="name.hasAttribute('name')"
                                                svgIcon="heroicons_solid:x-circle"
                                                class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                                (mousedown)="clearInputText(name,$event)"></mat-icon>
                                        </div>
                                    </div>
                                    <!-- 電話 -->
                                    <div class="flex w-full md:w-1/2">
                                        <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                            {{t('customer_form_phone_number')}}
                                        </div>
                                        <div class="w-[calc(100%-10rem)] flex items-center">
                                            <input #phone_number class="w-full h-full pl-4" type="text"
                                                formControlName="phone_number"
                                                (focus)="showDeleteButton(phone_number,$event)"
                                                (blur)="hideDeleteButton(phone_number,$event)">
                                            <mat-icon *ngIf="phone_number.hasAttribute('phone_number')"
                                                svgIcon="heroicons_solid:x-circle"
                                                class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                                (mousedown)="clearInputText(phone_number,$event)"></mat-icon>
                                        </div>
                                    </div>
                                </div>
                                <!-- 社群媒體 -->
                                <div class="flex border-b-2">
                                    <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                        {{t('customer_form_social_media')}}</div>
                                    <div class="w-[calc(100%-10rem)] flex items-center">
                                        <input #social_media class="w-full h-full pl-4" type="text"
                                            formControlName="social_media"
                                            (focus)="showDeleteButton(social_media,$event)"
                                            (blur)="hideDeleteButton(social_media,$event)">
                                        <mat-icon *ngIf="social_media.hasAttribute('social_media')"
                                            svgIcon="heroicons_solid:x-circle"
                                            class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                            (mousedown)="clearInputText(social_media,$event)"></mat-icon>
                                    </div>
                                </div>
                                <!-- E-mail -->
                                <div class="flex">
                                    <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                        {{t('customer_form_email')}}
                                    </div>
                                    <div class="w-[calc(100%-10rem)] flex items-center">
                                        <input #email class="w-full h-full pl-4" type="text" formControlName="email"
                                            (focus)="showDeleteButton(email,$event)"
                                            (blur)="hideDeleteButton(email,$event)">
                                        <mat-icon *ngIf="email.hasAttribute('email')" svgIcon="heroicons_solid:x-circle"
                                            class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                            (mousedown)="clearInputText(email,$event)"></mat-icon>
                                    </div>
                                </div>
                            </div>


                            <div class="flex flex-col border-2 mt-3">
                                <!-- 其他說明 -->
                                <div class="flex border-b-2">
                                    <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                        {{t('customer_form_description')}}</div>
                                    <div class="w-[calc(100%-10rem)] flex items-center">
                                        <input #description class="w-full h-full pl-4" type="text"
                                            formControlName="description" (focus)="showDeleteButton(description,$event)"
                                            (blur)="hideDeleteButton(description,$event)">
                                        <mat-icon *ngIf="description.hasAttribute('description')"
                                            svgIcon="heroicons_solid:x-circle"
                                            class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                            (mousedown)="clearInputText(description,$event)"></mat-icon>
                                    </div>
                                </div>
                                <!-- 推薦企業 -->
                                <div class="flex border-b-2">
                                    <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                        {{t('customer_form_recommended_company')}}
                                    </div>
                                    <div class="w-[calc(100%-10rem)] flex items-center">
                                        <input #recommended_company class="w-full h-full pl-4" type="text"
                                            formControlName="recommended_company"
                                            (focus)="showDeleteButton(recommended_company,$event)"
                                            (blur)="hideDeleteButton(recommended_company,$event)">
                                        <mat-icon *ngIf="recommended_company.hasAttribute('recommended_company')"
                                            svgIcon="heroicons_solid:x-circle"
                                            class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                            (mousedown)="clearInputText(recommended_company,$event)"></mat-icon>
                                    </div>
                                </div>
                                <!-- 關係 -->
                                <div class="flex">
                                    <div class="w-40 bg-neutral-300/30 text-neutral-600/70 py-3 pl-3">
                                        {{t('customer_form_relationship')}}
                                    </div>
                                    <div class="w-[calc(100%-10rem)] flex items-center">
                                        <input #relationship class="w-full h-full pl-4" type="text"
                                            formControlName="relationship"
                                            (focus)="showDeleteButton(relationship,$event)"
                                            (blur)="hideDeleteButton(relationship,$event)">
                                        <mat-icon *ngIf="relationship.hasAttribute('relationship')"
                                            svgIcon="heroicons_solid:x-circle"
                                            class="min-w-4 w-4 mr-1 text-slate-300 cursor-pointer"
                                            (mousedown)="clearInputText(relationship,$event)"></mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex p-8 w-full justify-center mb-10 min-w-[280px]">
                        <button class="border-rose-600 bg-white border-2  text-rose-600 w-36 px-8 py-3"
                            (click)="handleCancel()">{{t('button_cancel')}}</button>
                        <button class="bg-rose-600  text-white w-36 px-8 py-3 ml-4" (click)="handleSave()">
                                {{addClientCheck?t('button_add'):t('button_save')}}
                        </button>
                    </div>
                </div>

                <app-shared-common-confirm-modal *ngIf="alertPOPUP" [title]="['product_notice'|transloco]"
                    [fullCustomContent]="true" [confirmButtonOnly]="confirmButtonOnly"
                    [submitText]="['button_confirm'|transloco]" (cancelEvent)="confrimCancel()"
                    (submitEvent)="confrimOK()">
                    <div customContent class="text-center h-full ">
                        <span class="relative top-[40%] text-xl font-bold">
                            {{message|transloco}}
                        </span>
                    </div>
                </app-shared-common-confirm-modal>
            </div>
        </div>
    </ng-container>
</div>