#recommand {
    .bag {
        font-weight: 600;
        font-size: 18px;
        width: 33px;
        height: 42px;
        clip-path: polygon(0 0, 100% 0%, 100% 70%, 50% 100%, 0 70%);
        background-color: #e60030;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        left: 0;
        top: 0;

        div {
            margin-bottom: 6px;
        }
    }

    .basic_information {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: -10px;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: black;
        }
    }

    .basic_information_mobile {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: -10px;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: rgb(249 115 22 / var(--tw-text-opacity)) !important;
        }
    }

    .noSwipe {
        transform: translateX(196px);
        transition: 0.5s;
    }

    .swipeLeft {
        transform: translateX(-196px);
        opacity: 1;
        transition: 0.5s;
    }

    .dilute {
        opacity: 0;
        transition: .5s;
    }

    .main_information {
        position: relative;

        &::before {
            position: absolute;
            content: '';
            left: -10px;
            top: 0;
            width: 2px;
            height: 100%;
            background-color: white;
        }
    }

    .toast {
        position: fixed;
        bottom: 90px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-align: center;
        animation: fadeIn 1.5s ease-in-out;

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    }

    /* customBoxAndItsScollBar */
    .container::-webkit-scrollbar {
        width: 0.2em;
    }

    .container::-webkit-scrollbar-button {
        background: #fff;
        height: 0.5px;
    }

    .container::-webkit-scrollbar-track-piece {
        background: #e50038;
        border-radius: 50px;
    }

    .container::-webkit-scrollbar-corner {
        border: 1px solid red;
    }

    .container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
    }

    .container::-webkit-scrollbar-thumb {
        background-color: #e5e7e8;
        border: 1px solid #e5e7e8;
        border-radius: 50px;
    }

    div, span, p, h1, h2, h3, h4, h5, h6, input{
        word-break: break-word;
    }
}