<ng-container *ngIf="!showDetailPage">
    <div class="w-full max-h-full overflow-auto absolute">
        <div class="m-8 bg-white">
            <div class="p-8">
                <ng-container *ngFor="let product of productArr;let i=index">
                    <div class="relative m-2  cursor-pointer" (click)="getProductDetail(product.id,i)">
                        <div class="bag">
                            <div>{{i+1}}</div>
                        </div>
                        <div class="flex">
                            <figure class="w-36 h-36 flex items-center">
                                <img [src]="getImage(product.files[0])" alt="">
                            </figure>
                            <div class="flex flex-col justify-center ml-4">
                                <div class="font-bold text-2xl">
                                    {{product.name_zh}}
                                </div>
                                <div class="text-slate-400">
                                    {{product.spec_zh}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="showDetailPage">
    <div class="w-full h-full flex relative" *transloco="let t">
        <div class="flex justify-between w-3/5 h-full bg-red-700 p-10 ">
            <div class=" ">
                <h2 class="font-bold text-5xl text-white">
                    {{lang==='zh'?productDetail.name_zh:productDetail.name_en}}
                </h2>
                <br>
                <br>
                <!-- 主原料 -->
                <h5 class="font-bold text-3xl text-white main_information ml-4">
                    {{t('product_main_raw_material')}}
                </h5>
                <div class="absolute w-1/3 flex flex-wrap pt-4 max-h-72 overflow-auto z-20">
                    <ng-container *ngFor="let ingred of productDetail.ingredients">
                        <div class="px-4 py-2 rounded-3xl bg-white ml-2 mt-2">
                            {{lang==='zh'?ingred.name_zh:ingred.name_en}}
                        </div>
                    </ng-container>
                </div>

                <div>
                    <!-- 儲存商品 -->
                    <button
                        class="absolute bottom-10 left-12 w-40 h-10 rounded-md text-white bg-stone-900  cursor-pointer z-20"
                        (click)="saveProduct()">{{t('product_save')}}</button>
                </div>
            </div>
            <!-- 產品圖 -->
            <div class="flex items-center -mr-24 z-20">
                <figure class="w-72 bg-white rounded-3xl p-4">
                    <img [src]="getImage(productDetail.files[0])" alt="">
                </figure>
            </div>
        </div>

        <div class="w-2/5 h-full bg-zinc-100/30 py-10 px-20 overflow-auto text-zinc-700"
            style="max-height: calc(100vh - 80px);">
            <p class="basic_information">{{t('product_basic_information')}}</p>
            <br>
            <div class="flex pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5">{{t('product_basic_information_bom_id')}}</p>
                <p class="w-3/5 text-zinc-500">{{productDetail.bom_no}}</p>
            </div>
            <!-- 功能訴求 -->
            <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5">{{t('product_info_benefit')}}</p>
                <p class="w-3/5 text-zinc-500">{{getFilteredCategories('F000')}}</p>
            </div>
            <!-- 適用器官 -->
            <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5">{{t('product_info_organ')}}</p>
                <p class="w-3/5 text-zinc-500">{{getFilteredCategories('O000')}}</p>
            </div>
            <!-- 適用年齡 -->
            <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5">{{t('product_info_age')}}</p>
                <p class="w-3/5 text-zinc-500">{{getFilteredCategories('AG000')}}</p>
            </div>
            <!-- 適用族群 -->
            <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5">{{t('product_info_group')}}</p>
                <p class="w-3/5 text-zinc-500">{{getFilteredCategories('GR000')}}</p>
            </div>
            <!-- 劑型 -->
            <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5 flex items-center">
                    <span>{{t('product_info_form')}}</span>
                <figure class="w-4 h-4 ml-2 cursor-pointer z-20" (click)="showDetail('form')">
                    <img src="assets/icons/export.png" alt="">
                </figure>
                </p>
                <p class="w-3/5 text-zinc-500">
                    {{getFilteredCategories('FM000')}}
                </p>
            </div>
            <!-- 重量 -->
            <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5">{{t('product_info_spec')}}</p>
                <p class="w-3/5 text-zinc-500"> {{lang==='zh'?productDetail.spec_zh:productDetail.spec_en}}</p>
            </div>
            <!-- 建議用量 -->
            <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5">{{t('product_info_recommended_dose')}}</p>
                <p class="w-3/5 text-zinc-500">
                    {{lang==='zh'?productDetail.recommended_dose_zh:productDetail.recommended_dose_en}}
                </p>
            </div>
            <!-- 包裝 -->
            <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                <p class="w-2/5 flex items-center">
                    <span>{{t('product_info_package')}}</span>
                <figure class="w-4 h-4 ml-2 cursor-pointer z-20" (click)="showDetail('package')">
                    <img src="assets/icons/export.png" alt="">
                </figure>
                </p>
                <p class="w-3/5 text-zinc-500"> {{getFilteredCategories('PK000')}}</p>
            </div>

            <!-- 注意事項 -->
            <div class="mt-10">
                <p class="basic_information">{{t('product_notice')}}</p>
                <br>
                <!-- 過敏原 -->
                <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                    <p class="w-2/5">{{t('product_info_allergens')}}</p>
                    <p class="w-3/5 text-zinc-500">{{getFilteredCategories('A000')}}</p>
                </div>
                <!-- 認證 -->
                <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                    <p class="w-2/5">{{t('product_info_certification')}}</p>
                    <p class="w-3/5 text-zinc-500">{{getFilteredCategories('CE000')}}</p>
                </div>
                <!-- 國家 -->
                <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                    <p class="w-2/5">{{t('product_info_country')}}</p>
                    <p class="w-3/5 text-zinc-500">{{getFilteredCategories('CY000')}}</p>
                </div>
                <!-- 葷素 -->
                <div class="flex mt-2 pb-2 border-dashed border-slate-400 border-b-2">
                    <p class="w-2/5">{{t('product_info_meatvegan')}}</p>
                    <p class="w-3/5 text-zinc-500">{{getFilteredCategories('MV000')}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed top-60 right-0 z-40 cursor-pointer" [ngClass]="{'hidden':!closeTag}" (click)="closeTag=false">
        <figure class="w-12 h-12 ">
            <img src="assets/icons/tag.png">
        </figure>
    </div>

    <div class="absolute min-h-max h-full bg-black/50 z-10"
        [ngClass]="{'dilute':closeTag,'w-full':!closeTag,'z-30':!closeTag}">
        <div [ngClass]="{'noSwipe':closeTag}">
            <div class="absolute top-60 right-60  cursor-pointer" (click)="closeTag=true">
                <figure class="w-12 h-12">
                    <img src="assets/icons/cancel.png">
                </figure>
            </div>
            <div class="absolute w-60 top-0 bottom-0 right-0 bg-white overflow-auto pt-5 z-30">
                <ng-container *ngFor="let product of productArr;let i=index">
                    <div class="relative mx-6 border-b border-dashed p-2" (click)="getProductDetail(product.id , i)">
                        <div class="flex items-center  cursor-pointer">
                            <div class="w-12 ">
                                <figure class="w-12">
                                    <img class="w-full" [src]="getImage(product.files[0])" alt="">
                                </figure>
                            </div>
                            <div class="flex flex-col justify-center ml-4 w-full h-full p-3"
                                [ngClass]="{'bg-pink-500/30':selectIdx===i}">
                                <div class="text-lg">
                                    {{product.name_zh}}
                                </div>
                                <div class="text-slate-400">
                                    {{product.spec_zh}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="showDetailTable">
    <div class="absolute z-30 w-full h-full bg-zinc-900/70 flex justify-center items-center" *transloco="let t">
        <div class="w-10/12 h-2/3 bg-white relative overflow-auto rounded-md">
            <div class="absolute top-5 right-7 cursor-pointer" (click)="showDetailTable=false">
                X
            </div>
            <ng-container *ngIf="formArr.length>0">
                <div class="flex justify-center p-6 flex-col ">
                    <!-- 劑型 -->
                    <p class="text-center text-2xl">{{t('product_info_form')}}</p>
                    <table class="w-full mt-2">
                        <thead>
                            <tr class="bg-neutral-100 text-center">
                                <!-- 名稱 -->
                                <th class="py-3">{{t('product_form_name')}}</th>
                                <!-- 最小單位 -->
                                <th class="py-3">{{t('product_form_unit_min')}}</th>
                                <!-- 最大單位 -->
                                <th class="py-3">{{t('product_form_unit_max')}}</th>
                                <!-- 單位 -->
                                <th class="py-3">{{t('product_form_unit')}}</th>
                                <!-- 圖片 -->
                                <th class="py-3">{{t('product_form_image')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center  border-b border-zinc-200/70" *ngFor="let form of formArr;"
                                [ngClass]="{'bg-pink-500/30':(lang==='zh'?form.name_zh:form.name_en)===getFilteredCategories('FM000')[0]}">
                                <td class="py-3">{{lang==='zh'?form.name_zh:form.name_en}}</td>
                                <td class="py-3">{{form.unit_min}}</td>
                                <td class="py-3">{{form.unit_max}}</td>
                                <td class="py-3">{{lang==='zh'?form.unit_zh:form.unit_en}}</td>
                                <td class="py-3 flex justify-center items-center">
                                    <figure class="w-16">
                                        <img [src]="getImage(form.image)" alt="">
                                    </figure>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-container *ngIf="packageArr.length>0">
                <div class="flex justify-center p-6 flex-col ">
                    <!-- 包裝 -->
                    <p class="text-center text-2xl">{{t('product_info_package')}}</p>
                    <table class="w-full mt-2">
                        <thead>
                            <tr class="bg-neutral-100 text-left">
                                <!-- 盒內容 -->
                                <th class="pl-4 py-3">{{t('product_package_box')}}</th>
                                <!-- 箱內容 -->
                                <th class="py-3">{{t('product_package_carton')}}</th>
                                <!-- 包裝說明 -->
                                <th class="py-3">{{t('product_package_param')}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-left  border-b  border-zinc-200/70" *ngFor="let package of packageArr;"
                                [ngClass]="{'bg-pink-500/30':(lang==='zh'?package.name_zh:package.name_en)===getFilteredCategories('PK000')[0]}">

                                <td class="pl-4 py-4 w-1/4">{{lang==='zh'?package.box_zh:package.box_en}}</td>
                                <td class="py-4 w-1/4">{{lang==='zh'?package.carton_zh:package.carton_en}}</td>
                                <td class="py-4 w-2/4">{{lang==='zh'?package.name_zh:package.name_en}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>

<app-shared-common-confirm-modal *ngIf="popView" [productImage]="productDetail.files[0]" #popViewDialog
    [productName]="lang==='zh'?productDetail.name_zh:productDetail.name_en" [title]="['product_dialog_title'|transloco]"
    (cancelEvent)="popView=false" (submitEvent)="handleOK(popViewDialog)"></app-shared-common-confirm-modal>

<app-shared-common-confirm-modal *ngIf="alertPOPUP" [title]="['product_notice'|transloco]" [fullCustomContent]="true"
    [submitText]="['button_ok'|transloco]" (cancelEvent)="confrimCancel()" (submitEvent)="confrimOK()">
    <div customContent class="text-center h-full ">
        <span class="relative top-[40%] text-xl font-bold">
            {{message|transloco}}
        </span>
    </div>
</app-shared-common-confirm-modal>

<div class="toast" *ngIf="showToast">
    {{'add_success'|transloco}}
</div>
