<div class="p-8">
    <div class="relative m-2">
        <div class="bag">
            <div>1</div>
        </div>
        <div class="flex">
            <figure class="w-36 h-36">
                <img src="assets/images/pic1.png" alt="">
            </figure>
            <div class="flex flex-col justify-center ml-4">
                <div class="font-bold text-2xl">
                    免疫-益生菌
                </div>
                <div class="text-slate-400">
                    2克/包
                </div>
            </div>
        </div>
    </div>
</div>
