<div class="absolute overflow-hidden sm:overflow-auto max-h-[calc(100vh-64px)] sm:max-h-[calc(100vh-80px)] pb-2.5 max-w-screen">
    <ng-container *transloco="let t">
        <figure>
            <img src="assets/images/bg.png" alt="">
        </figure>

        <div class="mb-5 relative">
            <figure class="w-9/12 m-auto relative">
                <img class="mt-[20vh] md:mt-0" src="assets/images/home_logo.png" alt="">

                <img class="absolute top-[-120%] sm:top-[-97%] w-[14%] min-w-[45px] left-[23%]" src="assets/images/bottle.gif" alt="">
                <img class="absolute top-[-45%] sm:top-[-35%] w-[14%] min-w-[45px] left-[-2%]" src="assets/images/bird.gif" alt="">
                <img class="absolute top-[-30%] sm:top-[-23%] w-[14%] min-w-[45px] left-[87%]" src="assets/images/heart.gif" alt="">
            </figure>
        </div>


        <div class="absolute top-12 left-10">
            <div class="button r" id="button-3">
                <input type="checkbox" class="checkbox" (click)="changeLang()">
                <div class="knobs"></div>
                <div class="layer"></div>
            </div>
        </div>

        <div class="justify-center grid grid-cols-1 grid-cols-5 gap-6 w-full min-w-0 px-10">
            <!-- 公司介紹 -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden cursor-pointer"
                [routerLink]="'company'">
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl w-14 sm:text-8xl font-bold tracking-tight leading-none ">
                        <img src="assets/icons/desktop.png" alt="">
                    </div>
                    <div class="text-lg font-medium text-gray-700  hidden md:block">{{t('home_about_us')}}</div>
                </div>
            </div>

            <!-- 推薦商品 -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden cursor-pointer"
                [routerLink]="'recommend'">
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl w-14 sm:text-8xl font-bold tracking-tight leading-none ">
                        <img src="assets/icons/like.png" alt="">
                    </div>
                    <div class="text-lg font-medium text-gray-700 hidden md:block">{{t('home_recommend_product')}}</div>
                </div>
            </div>

            <!-- 問卷 -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden cursor-pointer"
                [routerLink]="'question'">

                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl w-14 sm:text-8xl font-bold tracking-tight leading-none ">
                        <img src="assets/icons/edit.png" alt="">
                    </div>
                    <div class="text-lg font-medium text-gray-700  hidden md:block">{{t('home_questionnaire')}}</div>
                </div>
            </div>

            <!-- 客製需求 -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden cursor-pointer"
                [routerLink]="'customized'">

                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl w-14 sm:text-8xl font-bold tracking-tight leading-none ">
                        <img src="assets/icons/document.png" alt="">
                    </div>
                    <div class="text-lg font-medium text-gray-700  hidden md:block">{{t('home_demand')}}</div>
                </div>
            </div>

            <!-- 查詢 -->
            <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden cursor-pointer"
                [routerLink]="'inquire'">
                <div class="flex flex-col items-center mt-2">
                    <div class="text-7xl w-14 sm:text-8xl font-bold tracking-tight leading-none ">
                        <img src="assets/icons/search.png" alt="">
                    </div>
                    <div class="text-lg font-medium text-gray-700  hidden md:block">{{t('home_search')}}</div>
                </div>
            </div>

        </div>
    </ng-container>
</div>
