<div id="odm-form">
    <ng-container *transloco="let t" [formGroup]="folderForm">
        <div class="min-h-max max-h-max w-full select-none">
            <!-- Header -->
            <div class="fixed bg-white w-full h-16 flex justify-center items-center z-20">
                <mat-icon *ngIf="needArrowLeft" svgIcon="feather:chevron-left" class="ml-3 cursor-pointer"
                    (click)="cancelEvent.emit()"></mat-icon>
                <span class="w-full text-center text-lg sm:text-2xl font-semibold bg-white text-slate-900"
                    [ngClass]="{'mr-9': needArrowLeft}">{{t('tabbar_demand')}}</span>
            </div>
            <!-- Main Content -->
            <ng-container>
                <div class="mt-16 fixed w-full overflow-auto"
                    [ngClass]="{'h-[calc(100%-64px)]': needFullHeight, 'h-[calc(100%-120px)] sm:h-[calc(100%-144px)]': !needFullHeight}">

                    <!-- Main List -->
                    <div class="w-full h-16 flex justify-between items-center z-20 text-2xl"
                        *ngIf="demandArr.length !== 0">
                        <mat-form-field *ngIf="!querySpecCientDemand">
                            <mat-select class="text-base font-semibold bg-white text-slate-900"
                                formControlName="filterCheckBox">
                                <mat-option [value]="'all'">{{t('filter_client_all')}}</mat-option>
                                <mat-option [value]="'hasClient'">{{t('filter_client_has_clientId')}}</mat-option>
                                <mat-option [value]="'noClient'">{{t('filter_client_no_clientId')}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="mr-8 text-red-600 text-base font-bold cursor-pointer select-none w-full text-right"
                            (click)="clickMultiSelect()">
                            {{clientMultiSelectCheck?t('button_cancel'):t('button_select')}}
                        </div>
                    </div>

                    <!-- Warning: There are no Demand Memos to display -->
                    <div class="m-8 h-[60vh] text-center" *ngIf="filterData.length === 0">
                        <mat-icon role="img"
                            class="mat-icon notranslate mat-icon-no-color icon-size-20 w-20 h-20 text-slate-300 relative top-[30vh]"
                            aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="inbox"
                            data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg"
                                fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                aria-hidden="true" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
                                focusable="false">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z">
                                </path>
                            </svg>
                        </mat-icon>
                        <div class="w-ful h-20 text-center text-slate-400 relative top-[30vh]">
                            {{t('demand_list_empty_message')}}
                        </div>
                    </div>

                    <div *ngIf="filterData.length !== 0" class="m-8 mt-0 mb-12 bg-white w-[calc(100%-64px)]">
                        <div class="py-2">
                            <ng-container *ngFor="let demmand of filterData;let i=index">
                                <div class="relative m-2 px-2 cursor-pointer">
                                    <div class="flex flex-wrap justify-center sm:justify-between min-h-32"
                                        [ngClass]="{'cursor-pointer': !clientMultiSelectCheck}"
                                        (click)="openEditModal(demmand,$event)">
                                        <div class="flex flex-row flex-wrap justify-center sm:justify-start 
                                        items-start w-full sm:w-[calc(100%-176px)]" (click)="checkboxClick(i,demmand)">
                                            <div class="flex items-start min-w-10 w-10 h-10 sm:h-20 mr-0 sm:mr-4">
                                                <mat-icon svgIcon="mat_solid:feed"
                                                    class="min-w-10 w-10 h-10"></mat-icon>
                                            </div>
                                            <div class="flex flex-col justify-center w-full sm:w-[calc(100%-56px)]">
                                                <div
                                                    class="flex flex-row flex-wrap justify-center sm:justify-start font-bold text-2xl text-center sm:text-left">
                                                    <div class="mr-0 sm:mr-4 w-full sm:w-fit break-word-legacy">
                                                        {{demmand.title}}
                                                    </div>
                                                    <div class="bg-sky-500 text-white rounded-3xl px-5 break-word-legacy"
                                                        *ngIf="demmand.client?.name">{{demmand.client?.name??''}}</div>
                                                </div>
                                                <div class="text-base text-center sm:text-left break-all">
                                                    {{demmand.note??''}}
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="!clientMultiSelectCheck"
                                            class="min-w-44 flex flex-col justify-between content-center sm:content-end flex-wrap">
                                            <div>{{demmand.updatedAt | date:'yyyy-MM-dd HH:mm:ss':'GMT+08:00'}}</div>
                                            <div class="flex flex-row justify-between">
                                                <mat-icon class="text-slate-400 hover:text-red-600 hover:bg-slate-400/10 rounded-[40px] p-1.5 w-10 h-10" svgIcon="feather:trash-2"
                                                    (click)="openDeleteModal(demmand,$event)"></mat-icon>
                                                <mat-icon class="text-slate-400 hover:bg-slate-400/10 rounded-[40px] p-1.5 w-10 h-10" svgIcon="heroicons_outline:user"
                                                    (click)="openClientModal(demmand,$event)"></mat-icon>
                                                <mat-icon class="text-slate-400 hover:bg-slate-400/10 rounded-[40px] p-1.5 w-10 h-10" svgIcon="feather:edit"
                                                    (click)="openEditModal(demmand,$event)"></mat-icon>
                                            </div>
                                        </div>
                                        <div *ngIf="clientMultiSelectCheck" class="sm:min-w-[152px]"
                                            (click)="checkboxClick(i,demmand)">
                                        </div>
                                        <div *ngIf="clientMultiSelectCheck">
                                            <mat-checkbox #checkboxView color="primary"
                                                (change)="mutliSelect($event,demmand)"
                                                (click)="$event.stopPropagation()"></mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" *ngIf="(i + 1) !== this.filterData.length">
                            </ng-container>

                        </div>
                    </div>

                </div>
            </ng-container>
            <ng-container *ngIf="clientMultiSelectCheck">
                <div class="fixed border-solid border-t-2 border-gray-200 bg-white w-full h-14 sm:h-20 flex justify-center items-center z-20"
                    [ngClass]="{'top-[calc(100%-56px)] sm:top-[calc(100%-80px)]': needFullHeight, 'top-[calc(100%-112px)] sm:top-[calc(100%-160px)]': !needFullHeight}">
                    <!-- Delete button -->
                    <button
                        class="w-[44%] min-w-28 m-[2%] min-h-12 sm:min-h-14 bg-white border-solid border-2 border-red-600"
                        (click)="openDeleteModal(clientMultiSelectData, $event)">
                        <span class="text-red-600 font-semibold text-lg break-word-legacy">
                            {{t('button_delete')}}({{clientMultiSelectData.length}})
                        </span>
                    </button>
                    <!-- Submit button -->
                    <button class="min-w-28 m-[2%] min-h-12 sm:min-h-14 bg-red-600"
                        [ngClass]="{'w-[44%]':!confirmButtonOnly, 'w-[calc(96%-16px)]':confirmButtonOnly}"
                        (click)="openClientModal(clientMultiSelectData, $event)">
                        <span class="text-white font-semibold text-lg break-word-legacy">
                            {{t('demand_form_bind_customer')}}({{clientMultiSelectData.length}})
                        </span>
                    </button>
                </div>
            </ng-container>
        </div>

        <!-- Delete Modal -->
        <app-shared-common-confirm-modal *ngIf="deleteCheck" [title]="t('button_delete')" [fullCustomContent]="true"
            [submitText]="t('button_delete')" (cancelEvent)="closeDeleteModal()" (submitEvent)="confrimDelete()">
            <div customContent class="text-center h-full ">
                <span class="relative top-[40%] text-xl font-bold">
                    {{t('dialog_confirm_delete_message')}}
                </span>
            </div>
        </app-shared-common-confirm-modal>

        <!-- Edit modal -->
        <app-shared-demmand-form #demandFormView *ngIf="editCheck" [dataInject]="demandDetailData"
            (cancelEvent)="closeEditModal()" (submitEvent)="closeEditModal()"></app-shared-demmand-form>

        <!-- CLient modal -->
        <div *ngIf="clientBindingCheck"
            class="fixed inset-0 z-50 bg-black/40 flex flex-col items-center justify-center visible opacity-100">
            <div class="relative z-50 bg-white min-h-1/2 max-h-[80%] w-[90%] max-w-5xl">
                <!-- Title -->
                <div #viewTitle class="flex flex-row flex-nowrap justify-between items-end w-full h-[60px]">
                    <mat-icon svgIcon="feather:chevron-left" class="ml-3 cursor-pointer"
                        (click)="closeClientModal()"></mat-icon>
                    <div class="w-full text-center text-black font-bold text-2xl mr-6">
                        {{t('demand_form_bind_customer')}}
                    </div>
                </div>

                <!-- Content -->
                <div #viewContent class="w-full overflow-auto h-[calc(100%-168px)]">
                    <div class="m-4 h-1/2">
                        <!-- Search filter -->
                        <div class="bg-slate-100 w-full h-12 flex flex-row flex-nowrap items-center justify-start">
                            <mat-icon class="mx-2 text-slate-300" svgIcon="mat_solid:search"></mat-icon>
                            <input placeholder="{{t('search_hint')}}"
                                class="w-full placeholder:text-slate-300 font-mono text-lg font-semibold"
                                (input)="setSearchText($event)">
                        </div>

                        <div class="my-2">
                            <ng-container *ngFor="let client of getFilteredClient(searchText);let i=index">
                                <div class="relative">
                                    <!-- TODO: 再找找看有沒有適合的套件做點擊改背景!! -->
                                    <div [id]="client.id" #clientDetailView
                                        class="flex flex-wrap justify-between cursor-pointer pr-5"
                                        [ngClass]="{'bg-red-100':(clientDetailView.hasAttribute('isChosen'))}"
                                        (click)="chooseClient(clientDetailView,client)">
                                        <div class="flex flex-row flex-nowrap justify-start 
                                                    items-center w-full">
                                            <figure
                                                class="flex items-center justify-center mx-4 bg-zinc-300 rounded-[50%] min-w-14 w-14 h-14">
                                                <!-- TODO: 有效的照片網址 -->
                                                <img #imgView class="rounded-[50%] min-w-14 w-14 h-14 object-cover"
                                                    [src]="getImage(client.avatar)"
                                                    (error)="getDefaultImg(imgView,client.name)">
                                            </figure>
                                            <div class="flex flex-col justify-center w-full my-5">
                                                <div class="font-semibold text-xl text-left leading-5">
                                                    <div class="text-white h-6" *ngIf="!client.name">
                                                    </div>
                                                    {{client.name??''}}
                                                </div>
                                                <div class="text-slate-400 leading-5">
                                                    <ng-container *ngIf="lang==='en'">
                                                        <div class="text-white h-4" *ngIf="!client.company_name_en">
                                                        </div>
                                                    </ng-container>
                                                    <ng-container *ngIf="lang!=='en'">
                                                        <div class="text-white h-4" *ngIf="!client.company_name_zh">
                                                        </div>
                                                    </ng-container>
                                                    {{(lang==='en')?(client.company_name_en??''):(client.company_name_zh??'')}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                        <div class="text-center h-full flex flex-col justify-end items-center"
                            *ngIf="!getFilteredClient(searchText) ||getFilteredClient(searchText).length === 0">
                            <mat-icon role="img"
                                class="mat-icon notranslate mat-icon-no-color icon-size-16 w-16 text-slate-300 relative"
                                aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="inbox"
                                data-mat-icon-namespace="heroicons_outline"><svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    aria-hidden="true" fit="" height="100%" width="100%"
                                    preserveAspectRatio="xMidYMid meet" focusable="false">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859m-19.5.338V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H6.911a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661z">
                                    </path>
                                </svg>
                            </mat-icon>
                            <div *ngIf="clientData.length !== 0" class="w-full text-center text-slate-400 relative">
                                {{t('customer_search_empty_message')}}
                            </div>
                            <div *ngIf="clientData.length === 0" class="w-ful h-20 text-center text-slate-400 relative">
                                {{t('customer_list_empty_message')}}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End -->
                <div #viewButton class="w-full bg-white flex flex-row flex-wrap justify-center pt-2">
                    <!-- Cancel button -->
                    <button class="w-48 min-w-48 m-[2%] min-h-16 bg-white border-solid border-2 border-red-600"
                        (click)="closeClientModal()">
                        <span class="text-red-600 font-semibold text-lg break-word-legacy">
                            {{t('button_cancel')}}
                        </span>
                    </button>
                    <!-- Submit button -->
                    <button class="w-48 min-w-48 m-[2%] min-h-16 bg-red-600" (click)="confrimClientModal()">
                        <span class="text-white font-semibold text-lg break-word-legacy">
                            {{t('demand_form_bind_customer')}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</div>