#odm-form {
    .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
        margin-bottom: 0px;
    }

    .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex {
        border-width: 0px;
        margin-left: 32px;
        border-radius: 0px;
        width: 140px;
    }

    .mat-form-field.mat-form-field-appearance-fill.mat-focused:not(.mat-form-field-invalid) .mat-form-field-wrapper .mat-form-field-flex {
        border-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
    }

    body.light .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
    body .light .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: #64748b;
    }

    /* styles.css 或者组件的样式文件 */
    .mat-checkbox-frame {
        border-color: #f43f5e !important;
        /* 设置框框为红色 */
    }

    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
        color: #64748b !important;
    }
}